<div class="card w-75">
  
    <div class="card-body">
     
      <%= params.inspect %>

      <% @user.bookings.each do |b| %>
        <%= b.id %>
    
      <% end %>
      <%=@user.firstname%>
    </div>

   <%= @bookings.check_in %>
   
    

    </div>

</div>