
<div class="card w-75">
<% @rooms.each do |room| %>
  <div class="card-body">
    <h5 class="card-title"><%= room.name %> </h5>
    <p class="card-text"> Room capacity: <%= room.capacity %></p>
     <%= link_to "View Room ", room_path(room) %></td>
  </div>

<%end%>



</div>


