.container {
    position: fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
    position: fixed;
    left: 45%;
    padding-top: 5%;
}
.room-pic{
    width: 500px;
    height: 400px;
    padding: 15px;
    position: relative;
    bottom: 400px;
    margin: 10px;
    
}

.room-info{
    position: relative;
    left: 700px;
    top: 120px;
}

.booking{
    margin-top: 40px;
}

#booking-btn{
    position: relative;
    top:20px;
    
}